@charset 'utf-8'
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css')
@import '~normalize.css'
@import '_base.styl'
@import '_reboot.styl'
@import '_fonts.styl'
#app 
  font-family $primary-font
  text-align center
  color $primary-color
  margin-top 60px